.inputClass { 
    pointer-events: none;
}

table{
    width: 100vh;
    
}
tr:nth-child(even) {
    background-color: #f2f2f2;
  }
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.class1{
    display:flex;
    justify-content: center;
}