
<div class="mainDiv">
    <h1 class="headH1">Welcome to Farmer Registration</h1>
    <div class="formDiv">
        <form action="" #documentsFarmer="ngForm">
            <label for="">Email Id</label>
            <input class="form-control inputClass"  [value]="demail" >
            <!-- <p class="alert alert-danger" *ngIf="name.touched && name.invalid">
                <span class="alert alert-danger" *ngIf="name.errors.required">Name cannot be empty</span>
            </p> -->

            <label for="">Aadhaar Image*</label>
            <input type="file" required  #aadhar >
            <img [src]="document.Aadhar" width="20%" height="20%" alt="">
            <!-- <p class="alert alert-danger" *ngIf="Aaddhar.touched && Aadhar.invalid">
                <span class="alert alert-danger" *ngIf="Aadhar.errors.required">Please upload Aadhaar Image</span>
            </p> -->
            <button (click)="getAadhar(aadhar)" >Click here to Upload</button>
            <br>
            <label for="">PAN Card Image*</label>
            <input type="file" required  #pan >
            <img [src]="document.PAN" width="20%" height="20%" alt="">
            <!-- <p class="alert alert-danger" *ngIf="PAN.touched && PAN.invalid">
                <span class="alert alert-danger" *ngIf="PAN.errors.required">Please upload PAN Card Image</span>
            </p> -->
            <button (click)="getPan(pan)" >Click here to Upload</button>
            <br>
            <label for="">Farmer Certificate*</label>
            <input type="file" required  #certificate >
            <img [src]="document.CertificateFarmer" width="20%" height="20%" alt="">
            <!-- <p class="alert alert-danger" *ngIf="CertificateFarmer.touched && CertificateFarmer.invalid">
                <span class="alert alert-danger" *ngIf="CertificateFarmer.errors.required">Please upload Farmer's Certificate</span>
            </p> -->
            <button (click)="getCertificate(certificate)" >Click here to Upload</button>
    
            <div class="btnDiv">
                <section class="btnSection">
                    <button [disabled]="!documentsFarmer.valid" class="btn-success" (click) = "insertDocuments()">Submit</button>
                </section>
            </div>
        </form>
    </div>
</div>