<app-route></app-route>
<div>
<h2>Small Farmer's Agri-Business Consortium</h2><br/>
<p>
    <span class="glyphicon glyphicon-map-marker"> &nbsp;
    </span>
    NCUI Auditorium Building, 5th Floor, 3, Siri Institutional Area,
    August Kranti Marg, Hauz Khas,
    New Delhi - 110016.
    <br>
</p>
<hr/>
<p>
    <span class="glyphicon glyphicon-earphone"> &nbsp;</span>
    Help Desk No.: 1800 270 0224
    <br>
</p>
<hr/>
<p>
    <span>Fax</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    +91-11- 26862367
</p>
<hr/>
<p>
    <span class="glyphicon glyphicon-envelope"> &nbsp; </span>
    Email id- nam[at]sfac[dot]in , enam[dot]helpdesk[at]gmail[dot]com
    <br><br/>
    Office Time: 09:30 AM. to 06:00 PM.
</p>
<hr/>
</div>


