<app-route></app-route>

<div class="loginDiv">
    <section class="childSection">
        <a routerLink = "/farmerlogin">
        <img src="../assets/loginImages/farmericon.jpg" alt=""  width="50%">
        <p class="para">
            Click here to Login as Farmer
        </p>
    </a>
    </section>
    <section class="childSection">
        <a routerLink = "/bidderlogin">
        <img src="../assets/loginImages/bidicon.jpg" alt=""  width="50%">
        <p class="para">
            Click here to Login as Bidder
        </p>
    </a>
    </section>
</div>
<app-footer></app-footer>
