<app-route></app-route>

<div class="loginDiv">
    <section class="childSection">
        <img src="../assets/loginImages/farmericon.jpg" alt=""  width="50%">
        <p class="para">
            <a routerLink = "/farmerlogin">Click here to Login as Farmer</a>
        </p>
    </section>
    <section class="childSection">
        <img src="../assets/loginImages/bidicon.jpg" alt=""  width="50%">
        <p class="para">
            <a routerLink = "/bidderlogin">Click here to Login as Bidder</a>
        </p>
    </section>
</div>
<app-footer></app-footer>
