<div class="upperDiv">
    <div>
        Welcome {{email}}
    </div>
    <div>
        <button (click)="onLogout()">Logout</button>
    </div>
</div>


<div class="form-row mb-4">
    <div class="col  d-flex justify-content-center">
        <a routerLink='/farmermarket'>Click here to View Market Value</a>
    </div>
    <div class="col  d-flex justify-content-center">
        <a routerLink='/soldhistory'>Click here to View Sold Crop</a>
    </div>
</div>
<div class="form-row">
    <div class="col  d-flex justify-content-center">
        <a routerLink='/sellcrop'>Click here to Sell Crop</a>
    </div>
    <div class="col  d-flex justify-content-center">
        <a routerLink="/cropdeclined">Crop Declined</a>
    </div>
</div>

<!-- <div class="cardMainDiv">
    <div class="cardChildDiv">
        <div class="linkDiv">
            <img src="../../assets/farmerportal/market.jpg" alt="" height="100%" width="70%">
            <a routerLink='/farmermarket'>Click here to View Market Value</a>
        </div>
        <div class="linkDiv">
            <img src="../../assets/farmerportal/sold.jpg" alt="" height="100%" width="70%">
            <a routerLink='/soldhistory'>Click here to View Sold Crop</a>
        </div>
        <div class="linkDiv">
            <img src="../../assets/farmerportal/sell.jpg" alt="" height="100%" width="70%">
            <a routerLink='/sellcrop'>Click here to Sell Crop</a>
        </div>
        <div>
            <a routerLink="/cropdeclined">Crop Declined</a>
        </div>
    </div>
</div> -->