<div class="upperDiv">
    <div>
        Welcome {{email}}
    </div>
    <div>
        <button>Logout</button>
    </div>
</div>

<div class="cardMainDiv">
    <div class="cardChildDiv">
        <div class="linkDiv">
            <img src="../../assets/farmerportal/market.jpg" alt="" height="100%" width="70%">
            <a href="">Click here to View Market Value</a>
        </div>
        <div class="linkDiv">
            <img src="../../assets/farmerportal/sold.jpg" alt="" height="100%" width="70%">
            <a routerLink='/soldhistory'>Click here to View Sold Crop</a>
        </div>
        <div class="linkDiv">
            <img src="../../assets/farmerportal/sell.jpg" alt="" height="100%" width="70%">
            <a href="">Click here to Sell Crop</a>
        </div>
    </div>
</div>