<div class="container d-flex justify-content-center">
    <table class="tableView table-bordered table-striped table-center">
        <tr class="table-success ">
            <th>Name</th>
            <th>Bidder Email</th>
            <th>Contact Number</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>PIN</th>
            <th>Account Number</th>
            <th>IFSC</th>
            <th>Aadhaar Image</th>
            <th>PAN Image</th>
            <th>Trader License Image</th>
        </tr>
        <tr *ngFor="let f of bidder">
            <td>{{f.Name}}</td>
            <td>{{f.Bemail}}</td>
            <td>{{f.ContactNo}}</td>
            <td>{{f.Address}}</td>
            <td>{{f.City}}</td>
            <td>{{f.State}}</td>
            <td>{{f.PIN}}</td>
            <td>{{f.AccNo}}</td>
            <td>{{f.IFSC}}</td>
            <td><img [src]="f.Aadhar" alt="" width="100%" height="20%"></td>
            <td><img [src]="f.PAN" alt="" width="100%" height="20%"></td>
            <td><img [src]="f.TraderLi" alt="" width="100%" height="20%"></td>
        </tr>
    </table>
</div>
