<app-famrerroute></app-famrerroute>

<!-- <div class="upperDiv">
    <div>
        Welcome {{email}}
    </div>
    <div>
        <button >Logout</button>
    </div>
</div> -->


<div class="soldDiv" >
    <table class="soldTable table-bordered">
        <tr>
            <th>Crop Name</th>
            <th>Quantity</th>
            <th>Farmer's Base Price</th>
            <th>Sold Price</th>
        </tr>
        <tr *ngFor="let s of sold">
            <td>{{s.CropName}}</td>
            <td>{{s.Quantity}}</td>
            <td>{{s.BaseFarmerPrice}}</td>
            <td>{{s.BidPrice}}</td>
        </tr>
    </table>
</div>