/* .mainDiv{
    margin-bottom: 2%;
} */
.mark{
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    margin-left: 2%;
    margin-right: 2%;
}

.slider{
    margin-left: 10%;
    margin-right: 10%;
}