<app-route></app-route>

<div class="mainDiv">
    <p class="mark">
        <marquee><b>Schemes for Farmers welcomes all the Farmers and Bidders &amp;
            requests to register for trading to avail benefits from the transparent system. Kindly reach us on our Toll-Free No.1800 270 0224 &nbsp;&nbsp;
            &nbsp;&nbsp;
            किसानों के लिए योजनाएं सभी कृषि उत्पादक संगठनो का पंजीकरण एवं पारदर्शी प्रणाली द्वारा व्यापार करने के लिए स्वागत करता है। अतिरिक्त जानकारी के लिए कृपया हमारे  टोल-फ्री नंबर 1800 270 0224 पर संपर्क करें  &nbsp; |
            </b>
        </marquee>
    </p>
    
    <div class="slider">
        <ng-image-slider
        [images] = "imageObject"
        [infinite] = "true"
        [imageSize] = "{width : '100%', height : '55%'}"
        [autoSlide] = "{interval: '5', stopOnHover: 'false'}"
        slideImage = "1"></ng-image-slider>
    </div>
</div>

<app-footer></app-footer>