<div class="upperDiv">
    <div>
        Welcome {{email}}
    </div>
    <div>
        <button >Logout</button>
    </div>
</div>
<div class="container py-5">  
    <div>
    <h3 class="text-uppercase">Market Prices</h3> </div>
    <div class="class1"> 
        <table class="table-center table-bordered table-striped">  
        
        <thead>  
            <tr class="text-center text-uppercase">  
                <th>CropName</th>  
                <th>Price (per Kg)</th>   
              </tr>  
        </thead> 
          <tr *ngFor="let cr of crops" class="text-center">  

            <td>{{cr.CropName}}</td>  
            <td>Rs.{{cr.Price}}</td>  
          </tr>   
      </table> 
    </div> 
    </div>  

<div *ngIf="!alert">
    <h2 class="aler alert-success">Your Data has been submitted successfully!!!</h2>
</div>
<div *ngIf="check" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Failed</strong> Please upload all documents!!!
    <button (click)="onCross()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    
  </div>
<div *ngIf="alert" class="form-row" >
    <div class="col ml-5">
        <h1>Sell Your Crop</h1>
        <label for="">Select Crop Type</label>
        <select [ngModel]="selectedDeviceObj" (ngModelChange)="getCrop($event)" class="form-control">
            <option [ngValue]="c" *ngFor="let c of croptype">{{c.TypeName}}</option>
        </select>
        <br>
            <label for="">Select Your Crop</label>
            <select name="" id="" #d.Cropname [(ngModel)]="sellForm.CropName" class="form-control">
                <option *ngFor="let d of details" [value]=d.CropName >{{d.CropName}}</option>
            </select>
            <br>
            <label for="">Email</label>
            <input input class="inputClass" [value]="email" class="form-control">
            <br>
            <label for="">Fertilizer</label>
            <input type="text" [(ngModel)]="sellForm.Fertilizer" class="form-control">
            <br>
            <label for="">Quantity</label>
            <input type="number" [(ngModel)]="sellForm.Quantity" class="form-control">
            <br>
            <label for="">PhValue Image</label>
            <input type="file" required  #PhVal class="form-control">
            <br>
            <button (click)="getPhVal(PhVal)" class="btn btn-info" >Click here to Upload</button>
            <br>
            <label for="">ExpiryDate</label>
            <input type="date" [min]="x" [(ngModel)]="sellForm.ExpiryDate" class="form-control">
            <label for="">Enter Your Price</label>
            <input type="number" [(ngModel)]="sellForm.BaseFarmerPrice" class="form-control">
            <br>
            <!-- <img [src]="sellForm.PhVal" width="20%" height="20%" alt="" > -->
            <br>
            <button (click) = "onSubmit()" class="form-control btn btn-success">Submit</button>
    </div>
    <div class="col">
        <h1>Image Preview</h1>
        <img [src]="sellForm.PhVal" width="60%" height="40%" alt="" >
    </div>
</div>


