.mainSell{
    display: flex;
    flex-direction: row;
}

table{
    width: 100vh;
    
}
tr:nth-child(even) {
    background-color: #f2f2f2;
  }

.divSell{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.inputClass { 
    pointer-events: none;
}