

<div class="form-row d-flex    ">
    <div class="col d-flex justify-content-center ">
        <a routerLink = "/acceptfarmer">
            <div class="container justify-content-center">Farmer Document Approval</div>
      <div class="form-row">
      <img src="../assets/admin/tree.svg" height="40%" width="40%"></div>
    </a>
    </div>

    <div class="col d-flex justify-content-center">
        <a routerLink = "/acceptbidder">
            <div class="container justify-content-lg-center">Bidder Document Approval</div>
      <div class="form-row justify-content-center">
      <img src="../assets/admin/law 1.svg" height="20%" width="20%">
</div>
</a>
    </div>
    <div class="col d-flex justify-content-center">
        <a routerLink = "/cropapproval">
        Approve Crop Selling Requests
        <div class="form-row justify-content-center">
            <img src="../assets/admin/food.svg" height="40%" width="40%">
      </div>
    </a>

      </div>
  </div>
  <div class="form-row mt-3  "> 
      <div class="col d-flex justify-content-center">
        <a routerLink = "/adminbidapproval">
            <div class="form-row justify-content-center">Bid Approvals</div>
                <div class="form-row justify-content-center">
            <img src="../assets/admin/law.svg" height="70%" width="70%">
      </div>
    </a>
      </div>
    <div class="col d-flex justify-content-center">
        <a routerLink = "/viewfarmer">
            <div class="form-row justify-content-center"> Farmer Details</div>
            <div class="form-row justify-content-center">
                <img src="../assets/admin/images.png" height="60%" width="60%">
          </div></a>

      </div>
  
      <div class="col d-flex justify-content-center">

        <a routerLink = "/viewbidder"><div class="form-row justify-content-center">Bidder Details</div>
            <div class="form-row justify-content-center">
                <img src="../assets/admin/bidder.png" height="30%" width="30%">
          </div>
    </a>
      </div>
  </div>
  <div class="form-row d-flex justify-content-between   ">
    <div class="col d-flex justify-content-center ">
        <a routerLink = "/admin-market-add">
      Update Market
      <div class="form-row">
      <img src="../assets/admin/tree.svg" height="60%" width="60%"></div>
    </a>

    </div>
    </div>

