.upperDiv{
    display: flex;
    justify-content: flex-end;
    height: 10%;
    background-color: turquoise;
    align-items: center;
    padding-right: 5%;

}

.cardMainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 20%;
    width: 100%; */
}
.cardChildDiv{
    display: flex;
    flex-direction: row;
    height: 50vh;
    padding-left: 5%;
    padding-top: 10%;
}

.linkDiv{
    display: flex;
    flex-direction: column;
}

h2{
    text-align: center;
}
li{
    height: 200px;
    width: 60%;
    align-self: center;
    width: 150px; 
    float:left; 
    height:100px; 
    /*margin-left:45%;*/ 
}
p{
    text-align: center;
    font-size: medium;
}
/*table, th, td 
{
  border: 1px solid black;
  width: 50px;
  font-size: medium;
}*/

