<header><h2>ADMIN PORTAL</h2></header>
<div >
  <nav class="navbar navbar-expand-sm badge-warning cls">
    <ul class="navbar-nav">
          <li class="nav-item" class="alert alert-warning">
              <a class = "nav-link" routerLink = "/acceptfarmer">Framer Documents Approvals</a>
          </li>
          <li class="nav-item" class="alert alert-primary">
              <a class = "nav-link" routerLink = "/acceptbidder">Bidder Documents Approvals</a>
          </li>
          <li class="nav-item" class="alert alert-danger">
              <a class = "nav-link" routerLink = "/cropapproval">Approve Crop Selling Requests</a>
          </li>
          <li class="nav-item" class="alert alert-secondary" >
              <a class = "nav-link" routerLink = "/adminbidapproval">Bid Approvals</a>
          </li>
          <li class="nav-item" class="alert alert-warning">
              <a class = "nav-link" routerLink = "/viewfarmer">View Farmer Details</a>
          </li>
          <li class="nav-item" class="alert alert-info">
              <a class = "nav-link" routerLink = "viewbidder">View Bidder Details</a>
          </li>
          <li class="nav-item" class="alert alert-info">
            <a class = "nav-link" routerLink = "/admin-market-add">Update Market Price</a>
        </li>
     </ul>
  </nav>
</div>