<app-route></app-route>
<div class="col-md-6 mx-auto my-5">
    <h1 class="dark-grey-text mb-5">Admin Login</h1>
    <div class="md-form">
        <form action="" [formGroup]="adminLogin">
            <label for="">Username*</label>
            <input type="text" class="form-control" formControlName="userName" [(ngModel)]="login.Id">
            <p class="alert alert-danger" *ngIf="userName.touched && userName.invalid">
                <span class="alert alert-danger" *ngIf="userName.errors.required">Username cannot be empty</span>
            </p>
    
            <label for="">Password*</label>
            <input type="password" class="form-control" formControlName="userPassword" [(ngModel)]="login.Password">
            <p class="alert alert-danger" *ngIf="userPassword.touched && userPassword.invalid">
                <span class="alert alert-danger" *ngIf="userPassword.errors.required">Password cannot be empty</span>
            </p>
    
            <div *ngIf="(result?result.length:1)==0">
                Incorrect username or password
            </div>
            <div class="btnDiv">
                <section class="btnSection">
                    <button class="btn  btn-dark" (click) = "submit()">Login</button>
                </section>
                <!-- <section class="linkSection">
                    <p class="font-small blue-text d-flex justify-content-end"><a href="#" class="blue-text ml-1"> Forgot Password?</a>
                    </p>
                </section> -->
            </div>
        </form>
        <!-- <a routerLink = '/farmerregistration'>New User? Click to Register</a> -->
    </div>
</div>